<div class="flex items-center justify-center pt-20">

    <div class="max-w-md px-10">
       
        <img class="" src="assets/404.gif" alt="" srcset="">
        <br>
        <button (click)="openFBGroup()"
            class="w-full px-4 inline py-2 text-sm font-medium leading-5 shadow text-white transition-colors duration-150 border border-transparent rounded-lg focus:outline-none focus:shadow-outline-blue bg-blue-600 active:bg-blue-600 hover:bg-blue-700">Go
            to Tunisia Sharing Network</button>
    </div>

</div>